<aside class="sidebar">
    <h2 class="sidebar-title">Secondary title</h2>

    <label for="sidebarSearch" class="sidebar-label">Search here</label>
    <input type="text" id="sidebarSearch" class="sidebar-search" placeholder="Search here...">

    <h3 class="sidebar-list-title">
        Some Server Items
    </h3>
    <ul class="sidebar-list">
        <li class="sidebar-item tooltip" data-tooltip="ConsumerHelperDefinitionOrder">
            <span class="sidebar-item-text">
                ConsumerHelperDefinitionOrder
            </span>
        </li>
        <li class="sidebar-item tooltip" data-tooltip="CloneConsumerHelperDefinitionOrder">
            <span class="sidebar-item-text">
                CloneConsumerHelperDefinitionOrder
            </span>
        </li>
        <li class="sidebar-item tooltip" data-tooltip="VisitorDefinitionProxyPoolConsumer">
            <span class="sidebar-item-text">
                VisitorDefinitionProxyPoolConsumer
            </span>
        </li>
        <li class="sidebar-item tooltip" data-tooltip="StrategyInvocationScopeIteratorListener">
            <span class="sidebar-item-text">
                StrategyInvocationScopeIteratorListener
            </span>
        </li>
        <li class="sidebar-item tooltip" data-tooltip="ObserverDispatcherResolverMapping">
            <span class="sidebar-item-text">
                ObserverDispatcherResolverMapping
            </span>
        </li>
    </ul>
</aside>
