$font-family-main: "Roboto", "Helvetica Neue", sans-serif;

$header-height: 90px;
$header-mobile-height: 56px; //.mat-drawer-content .mat-toolbar-single-row
$subheader-height: 80px;
$footer-height: 130px;
$device-info-additional-height-mobile: 56px;
$device-button-width: 188px;

$side-nav-width: 220px;
$side-nav-width-mobile: 84%;
$side-nav-logo-width: 143px;
$side-nav-logo-height: 47px;

$large-font-size: 25px;
$main-font-size: 16px;
$small-font-size: 14px;

$letter-spacing-30: 0.3px;
$letter-spacing-25: 0.25px;
$letter-spacing-12: 0.12px;

$grid-gap: 0.8em;
$mobile-gap: 8px;
$card-width: 327px;
$card-height: 344px;
$card-padding: 24px;
$card-icon-size: 24px;
$card-icon-size-mobile: 48px;
$card-icon-wrapper: $card-icon-size + $card-padding * 1.5;
$top-icon-size: 40px;
$card-line-height: 43px;

$input-width: 80px;
$input-height: 32px;

$saving-policy-min-height: 500px;
$saving-policy-edit-margin: -19px;


@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin respond-to($media) {
    @if $media == tiny {
        @media screen and (max-width: 374px) { @content; }
    }
    @if $media == handhelds {
        @media screen and (max-width: 540px) { @content; }
    }
    @if $media == phones {
        @media screen and (max-width: 667px) { @content; }
    }
    @else if $media == small-screens {
        @media screen and (max-width: 962px) and (min-width: 541px) { @content; }
    }
    @else if $media == medium-screens {
        @media screen and (max-width: 1024px) { @content; }
    }
    @else if $media == wide-screens {
        @media screen and (max-width: 1366px) { @content; }
    }
    @else if $media == more-wide-screens {
        @media screen and (max-width: 1700px) { @content; }
    }
    @else if $media == extra-wide-screens {
        @media screen and (min-width: 1981px) { @content; }
    }
    @else if $media == plazmas {
        @media screen and (min-width: 2561px) { @content; }
    }
    @else if $media == landscape {
        @media screen and (min-width: 540px) and (orientation: landscape)
                        and (max-width: 812px) { @content; }
    }
}

@mixin internetExplorer() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin horizontalBorder() {
    margin-top: $card-padding;
    padding-top: $card-padding;
    border-top: 1px solid $border-color;
}

@mixin mainPart() {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - #{$header-height} - #{$subheader-height});
    overflow-y: auto;
    @include respond-to(handhelds) {
        height: calc(100vh - #{$header-mobile-height} - #{$subheader-height});
    }
}

@mixin sidePart() {
    width: $card-width;
    margin-top: $grid-gap;
    margin-bottom: $grid-gap;
    ::ng-deep .ltr & {
        margin-left: $grid-gap;
    }
    ::ng-deep .rtl & {
        margin-right: $grid-gap;
    }
}

@mixin centerPart() {
    width: calc(100% - 327px - 0.8em);
    padding: $grid-gap;
    justify-content: space-between;
}
