@import './custom';

html,
body,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: $font-family-main;
    letter-spacing: $letter-spacing-30;
    line-height: 1;
    @include respond-to(landscape) {
        pointer-events: none;
        overflow: hidden;
    }
}
*, *:after, *:before {
    box-sizing: border-box;
}

.displayed-none {
    display: none !important;
}

.screenreader-only {
    font-size: 0;
}

.block-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.2;
    color: $main-color-middle;
}

.descriptive-text {
    font-size: $small-font-size;
    color: $main-color-light;
    margin-right: $card-padding;
    margin-left: $card-padding;
    @include respond-to(handhelds) {
        order: 3;
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.mat-button-wrapper {
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.form {
    &-error {
        text-align: center;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.3px;
        color: $error-text;
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: $error-bg;
        border: 1px solid $system-warn;
        border-radius: 2px;
    }
    &-btn {
        text-transform: uppercase;
    }
    //time picker
    &-timepicker-container {
        display: flex;
        align-self: center;
        .rtl & {
            flex-direction: row-reverse;
        }
    }
    &-timepicker.mat-form-field {
        .mat-form-field-flex {
            padding: 0 .2em 0 .2em;
        }
        .mat-form-field-infix {
            width: 30px;
        }
        &.input-disabled .mat-form-field-infix {
            width: 20px;
        }
        //Edge
        @supports (display:-ms-grid) {
            .device-card-item-input {
                width: 30px;
            }
            &.input-disabled .device-card-item-input {
                width: 20px;
            }
        }
    }
    &-timepicker-divider {
        display: inline-block;
        text-align: center;
        width: 10px;
        margin-top: -1px;
        //Firefox
        @media screen and (min--moz-device-pixel-ratio:0) {
            margin-top: -2px;
        }
        //IE
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            margin-top: -2px;
        }
        .ltr &.input-disabled-divider {
            text-align: right;
            padding-right: 1px;
        }
        .rtl &.input-disabled-divider {
            text-align: left;
            padding-left: 2px;
        }
    }
}

//card styling
.device-card {
    &-header {
        display: flex;
        justify-content: space-between;
        .ltr &.mat-expansion-panel-header {
            padding-left: 0;
            &[aria-disabled="true"] {
                padding-right: 10px;
            }
        }
        .rtl &.mat-expansion-panel-header {
            padding-right: 0;
            &[aria-disabled="true"] {
                padding-left: 10px;
            }
        }
        .mat-content {
            height: 100%;
        }
        .device-card-info-btn {
            display: none;
        }
        &.mat-expanded .device-card-info-btn{
            display: block;
        }
    }
    &-icon-wrapper {
        display: flex;
        width: $card-icon-wrapper;
        height: 100%;
        background-color: $system-primary;
        justify-content: center;
        align-items: center;
        .device-card-icon {
            font-size: $card-icon-size;
            color: $white;
            width: $card-icon-size;
            height: $card-icon-size;
        }
        .column-layout & {
            width: $card-icon-size-mobile;
        }
        @include respond-to(handhelds) {
            width: $card-icon-size-mobile;
        }

    }
    &-info {
        display: flex;
        align-items: center;
        flex: 1 1;
        .ltr & {
            padding-left: $card-padding;
        }
        .rtl & {
            padding-right: $card-padding;
        }
        &-subtitle {
            font-size: $small-font-size;
            font-weight: 400;
            color: $main-color-light;
            line-height: 1.71;
        }
        &-description {
            margin-top: 4px;
        }
        &-description-item {
            font-size: $small-font-size;
            color: $main-color-light;
        }
        &-btn {
            .ltr & {
                margin-left: auto;
                margin-right: 0;
            }
            .rtl & {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
    &-body {
        font-size: $main-font-size;
        color: $main-color-middle;
        line-height: 2.6;
        letter-spacing: 0.3px;
        .column-layout & {
            display: block;
        }
        @include respond-to(handhelds) {
            display: block;
        }
        &-top {
            display: flex;
            align-items: center;
            margin-bottom: $card-padding;
            .column-layout & {
                flex-wrap: wrap;
            }
            @include respond-to(handhelds) {
                flex-wrap: wrap;
            }
        }
    }
    &-list {
        @include resetUl;
        flex: 1 1 50%;
        .ltr & {
            &-first {
                padding-right: $card-padding;
                border-right: 1px solid $border-color;
            }
            &-last {
                padding-left: $card-padding;
            }
        }
        .rtl & {
            &-first {
                padding-left: $card-padding;
                border-left: 1px solid $border-color;
            }
            &-last {
                padding-right: $card-padding;
            }
        }
        .ltr .column-layout &,
        .rtl .column-layout & {
            &-first {
                padding: 0;
                border: none;
            }
            &-last {
                padding: 0;
            }
        }
        @include respond-to(handhelds) {
            .ltr &,
            .rtl & {
                &-first {
                    padding: 0;
                    border: none;
                }
                &-last {
                    padding: 0;
                }
            }
        }
    }
    &-item {
        display: flex;
        align-items: center;
        &-key {
            flex: 1 1;
            @include respond-to(handhelds) {
                line-height: 1.5;
            }
        }
        &-value {
            color: $main-color-dark;
        }
        &-input {
            direction: ltr;
            width: $input-width;
            color: $main-color-dark;
            flex: 0 0 $input-width;
            .ltr &,
            .rtl & {
                text-align: center;
            }
            .ltr .input-disabled & {
                text-align: right;
            }
            .rtl  .input-disabled & {
                text-align: right;
            }
        }
        &-suffix {
            .input-disabled ~ & {
                color: $main-color-dark;
            }
            .rtl & {
                direction: ltr;
                order: 2;
            }
        }
        &-toggle.mat-slide-toggle {
            height: $card-line-height;
        }
        .rtl & .mat-form-field:not(.form-timepicker) {
            order: 3;
        }
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .mat-form-field-infix {
            width: $input-width - 22px;
            line-height: 3px;
            padding: 0;
            border-top-width: 0.7em;
        }
        .mat-form-field-subscript-wrapper {
            margin-top: 0;
            top: auto;
        }
        .mat-form-field-appearance-outline {
            .mat-form-field-outline-start,
            .mat-form-field-outline-end {
                //border-color: $main-color-middle;
            }
        }
        .input-disabled {
            .mat-form-field-outline-start,
            .mat-form-field-outline-end {
                border: none;
                border-right-style: none !important;
                border-left-style: none !important;
            }
            .mat-input-element {
                color: $main-color-dark;
                pointer-events: none;
            }
            .mat-form-field-flex {
                padding: 0 .2em 0 .2em;
            }
        }
        .radio-disabled {
            pointer-events: none;
        }
    }
    &-line {
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        cursor: pointer;
        .ltr & {
            padding-right: 24px;
        }
        .rtl & {
            padding-left: 24px;
        }
        &-name {
            line-height: 1.56;
            text-transform: capitalize;
            @include ellipsis;
        }
        &-description {
            font-size: 14px;
            line-height: 1.71;
            color: $main-color-light;
        }
        &.arrow-container:after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-image: url('../assets/images/common-icons/arrow-right-rounded.svg');
            position: absolute;
            top: 18px;
            cursor: pointer;
            .ltr & {
                right: 0;
            }
            .rtl & {
                left: 0;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
}

.device {
    &-top {
        &-icon-wrapper {
            display: flex;
            width: $top-icon-size + $card-padding;
            align-items: center;
            flex: 0 0 $top-icon-size + $card-padding;
        }
        &-title {
            @include resetH;
            height: $top-icon-size;
        }
        &-icon {
            &.device-icon,
            &.vortex-icon {
                font-size: 0;
                color: $system-primary;
                width: $top-icon-size;
                height: $top-icon-size;
                vertical-align: middle;
            }
        }
        &-card {
            display: flex;
            width: 100%;
            background-color: $white;
            border-radius: 0;
            box-shadow: $subheader-shadow;
            flex-basis: 100%;
            align-items: center;
            position: relative;
            @include respond-to(handhelds) {
                flex-wrap: wrap;
                position: absolute;
                top: $header-mobile-height;
                z-index: 10;
            }
            .column-layout & {
                flex-wrap: wrap;
                @include respond-to(handhelds) {
                    top: 0;
                }
            }
        }
    }
    &-summary {
        display: flex;
        height: $subheader-height;
        padding: 0 $card-padding;
        align-items: center;
        flex-grow: 1;
        @include respond-to(handhelds) {
            width: 100%;
            padding: 0 $card-padding / 2;
        }
        .node-selected & {
            @include respond-to(handhelds) {
                height: $header-mobile-height;
            }
        }
        .node-selected .column-layout & {
            @include respond-to(handhelds) {
                height: $subheader-height;
            }
        }
        .column-layout & {
            width: 100%;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond-to(handhelds) {
            width: calc(100% - 64px - 36px);
        }
        &-title {
            color: $main-color-dark;
        }
    }
    &-form-buttons-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2em;
        .form-btn {
            margin-left: 10px;
        }
    }
    &-btn.mat-button {
        border: 1px solid $border-color;
        &.chiller-btn-disabled {
            pointer-events: none;
        }
        &.chiller-btn-active {
            background-color: $main-transparent;
        }
    }
}

.loader {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-image: url('../assets/images/loaders/loader.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // IE
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        & {
            animation: rotating 1000ms linear infinite;
        }
    }
}

.loader-white {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-image: url('../assets/images/loaders/loader-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // IE
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        & {
            animation: rotating 1000ms linear infinite;
        }
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// remove input[type=number] arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

// mat-expanstion-panel box-shadow override
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: $mat-panel-shadow !important;
}

// mat-form-field vertical align override
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.25em 0 0.15rem 0 !important;
}

// RTL overrides
[dir=rtl] .mat-form-field-appearance-outline .mat-form-field-outline-start {
    width: 5px !important;
}

.rtl .cdk-global-overlay-wrapper {
    direction: rtl;
}

//IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .device-card-item .mat-form-field-infix {
        padding: 0.35em 0 0.35em 0;
        border-top-width: 0.3em;
    }
}

//Firefox
@media screen and (min--moz-device-pixel-ratio:0) {
    .device-card-item .mat-form-field-infix {
        padding: 0.53em 0 0.53em 0;
        border-top-width: 0.3em;
    }
}