.icon-custom {
    display: inline-block;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.user {
        background-image: url('../../assets/images/user.svg');
    }
    &.settings {
        background-image: url('../../assets/images/settings.svg');
    }
}
