@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.device-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.chiller {
        background-image: url('../assets/images/devices-icons/chiller.svg');
    }
    &.pump {
        background-image: url('../assets/images/devices-icons/pump.svg');
    }
    &.meter {
        background-image: url('../assets/images/devices-icons/electricity-meter.svg');
    }
    &.sensor {
        background-image: url('../assets/images/devices-icons/sensor-thermo-meter.svg');
    }
    &.machineroom  {
        background-image: url('../assets/images/devices-icons/machine-room.svg');
    }
    &.area {
        background-image: url('../assets/images/devices-icons/area.svg');
    }
}

.vortex-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    &.edit {
        background-image: url('../assets/images/common-icons/edit.svg');
    }
    &.plus-white {
        background-image: url('../assets/images/common-icons/plus-white.svg');
    }
    &.plus-gray {
        background-image: url('../assets/images/common-icons/plus-gray.svg');
    }
    &.runtime-data {
        background-image: url('../assets/images/devices-icons/runtime-data.svg');
    }
    &.control {
        background-image: url('../assets/images/main-wrapper/control.svg');
    }
    &.control-component {
        background-image: url('../assets/images/devices-icons/control-component.svg');
    }
    &.alarms {
        background-image: url('../assets/images/devices-icons/alarms.svg');
    }
    &.related-devices {
        background-image: url('../assets/images/devices-icons/related-devices.svg');
    }
    &.action {
        background-image: url('../assets/images/devices-icons/action.svg');
    }
    &.audit {
        background-image: url('../assets/images/devices-icons/audit.svg');
    }
    &.dashboard {
        background-image: url('../assets/images/main-wrapper/dashboard.svg');
    }
    &.reports-icon {
        background-image: url('../assets/images/main-wrapper/reports.svg');
    }
    &.room {
        background-image: url('../assets/images/main-wrapper/room.svg');
    }
    &.maintenance {
        background-image: url('../assets/images/main-wrapper/maintenance.svg');
    }
    &.saving-policy {
        background-image: url('../assets/images/main-wrapper/saving-policy.svg');
    }
    &.schema {
        background-image: url('../assets/images/main-wrapper/schema.svg');
    }
    &.devices {
        background-image: url('../assets/images/main-wrapper/devices.svg');
    }
    &.user {
        background-image: url('../assets/images/main-wrapper/user.svg');
    }
    &.bell {
        background-image: url('../assets/images/main-wrapper/bell.svg');
    }
    &.saving-policy-dark {
        background-image: url('../assets/images/saving-policy/saving-policy.svg');
    }
    &.saving-policy-top {
        background-image: url('../assets/images/saving-policy/saving-policy-top.svg');
    }
    &.gears {
        background-image: url('../assets/images/saving-policy/gears.svg');
    }
    &.algorithm {
        background-image: url('../assets/images/saving-policy/algorithm.svg');
    }
    &.saving-policy-sidebar {
        background-image: url('../assets/images/saving-policy/saving-policy-sidebar.svg') !important;
    }
    &.arrow-down {
        background-image: url('../assets/images/common-icons/move-down.svg') !important;
    }
    &.arrow-up {
        background-image: url('../assets/images/common-icons/move-up.svg') !important;
    }
    &.arrow-right-double {
        background-image: url('../assets/images/common-icons/move-right.svg') !important;
        .rtl & {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    &.arrow-left-double {
        background-image: url('../assets/images/common-icons/move-right.svg') !important;
        .ltr & {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    &.arrow-down-double {
        background-image: url('../assets/images/common-icons/move-right.svg') !important;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    &.arrow-up-double {
        background-image: url('../assets/images/common-icons/move-right.svg') !important;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    &.arrow-down-disabled {
        background-image: url('../assets/images/common-icons/move-down-disabled.svg') !important;
    }
    &.arrow-up-disabled {
        background-image: url('../assets/images/common-icons/move-up-disabled.svg') !important;
    }
    &.arrow-left {
        background-image: url('../assets/images/common-icons/arrow-left.svg');
    }
    &.vfd {
        background-image: url('../assets/images/saving-policy/vfd.svg');
    }
    &.schema-dark {
        background-image: url('../assets/images/schema/schema-dark.svg');
    }
    &.logout {
        background-image: url('../assets/images/main-wrapper/logout.svg');
    }
    &.show-pass {
        background-image: url('../assets/images/login/show-pass.svg');
    }
    &.hide-pass {
        background-image: url('../assets/images/login/hide-pass.svg');
    }
    &.report-top {
        background-image: url('../assets/images/report/report-top.svg');
    }
    &.single-report {
        background-image: url('../assets/images/report/reports-white.svg');
    }
    &.excel-gray {
        background-image: url('../assets/images/report/excel-gray.svg');
        &:hover {
            background-image: url('../assets/images/report/excel-blue.svg');
        }
    }
    &.excel-white {
        background-image: url('../assets/images/report/excel-white.svg');
    }
}
