@import 'custom';

html,
body,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: $font-family-main;
    letter-spacing: $letter-spacing-30;
    height: 100vh;
    line-height: 1;
    @include respond-to(landscape) {
        pointer-events: none;
        overflow: hidden;
    }
}

*, *:after, *:before {
    box-sizing: border-box;
}

.card {
    padding: $card-padding;
    background-color: $white;
    box-shadow: $card-shadow;
}

.btn {
    &-main {
        @include resetBtn;
        font-size: $main-font-size;
        min-width: 88px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 2px;
    }
    &-primary {
        color: $white;
        background-color: $system-primary;
        border: 1px solid $system-primary;
        transition: all 300ms;
        &:hover {
            background-color: darken($system-primary, 7%);
            border-color: darken($system-primary, 7%);
        }
    }
    &-secondary {
        color: $system-primary;
        background-color: $white;
        border: 1px solid $system-primary;
        transition: all 300ms;
        &:hover {
            background-color: lighten($system-primary, 55%);
        }

    }
}

