<header class="header">
    <h1 class="header-title">
        <a href="" class="header-title-link">Something very important here</a>
    </h1>
    <div class="header-icons">
        <button class="header-user icon-custom user tooltip"
            data-tooltip="User Settings">
            User Settings
        </button>
        <button class="header-settings icon-custom settings popover"
            data-tooltip="System Settings">
            System Settings
        </button>
    </div>
</header>
