<div class="container">

    <app-sidebar></app-sidebar>

    <main class="main">
        <header class="header">
            <h1 class="header-title">Something very important here</h1>
        </header>

        <section class="main-wrapper">
            <div class="card">
                <p class="main-description">A long explanation why you should fill this form</p>
                <form class="main-form">
                    <div class="main-form-item">
                        <label for="importantValue" class="main-form-label">Your Important Value</label>
                        <input type="number" id="importantValue" class="main-form-input" placeholder="0">
                    </div>

                    <div class="main-form-item">
                        <label for="anotherValue" class="main-form-label">Another Important Value</label>
                        <input type="number" id="anotherValue" class="main-form-input" placeholder="0">
                        <span class="main-form-error">It was a mistake! A very big mistake!</span>
                    </div>

                    <div class="main-form-button-wrapper">
                        <button class="btn-main btn-primary main-form-btn">
                            Submit
                            <!--<app-loader></app-loader>-->
                        </button>
                        <button class="btn-main btn-secondary main-form-btn">Cancel</button>
                        <a class="btn-main btn-secondary main-form-btn">Read More</a>
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer">
            <nav class="footer-navigation">
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <ul class="footer-section">
                            <li class="footer-section-item footer-section-item-name">
                                <h3 class="footer-list-section-title">First list</h3>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go Here</a>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go There</a>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go Everywhere</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-list-item">
                        <ul class="footer-section">
                            <li class="footer-section-item footer-section-item-name">
                                <h3 class="footer-list-section-title">Second list</h3>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go Here</a>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go There</a>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go Everywhere</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-list-item">
                        <ul class="footer-section">
                            <li class="footer-section-item footer-section-item-name">
                                <h3 class="footer-list-section-title">Third list</h3>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go Here</a>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go There</a>
                            </li>
                            <li class="footer-section-item">
                                <a href="" class="footer-link">Go Everywhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </footer>
    </main>
</div>

